.footerLink {
  color: rgba(255, 255, 255, 0.55);
  text-decoration: none;
  transition: 0.3s;
  display: inline-block;
  margin-bottom: 10px;
}

.footerLink:hover {
  color: rgba(255, 255, 255, 0.9);
}